
<h1>Where To Find</h1>

<% if @questions %>
  <ul>
    <% @questions.each do |question| %>
      <li><a href="/questions/<%= question.id %>"><%= question.title %></a></li>
    <% end %>
  </ul>
<% end %>

<a href="/questions/new">Create New Question</a>
