body {
  max-width: 800px;
  border: 2px solid black;
  margin: 20px auto;
  padding: 10px;
}

.button {
  border-radius: 15px;
  background-color: orange;
  border: 0;
  color: white;
  padding: 8px;
  text-transform: uppercase;
}
