

#login-register {
  position: absolute;
  width: 400px;
  height: 500px;
  border: solid black 1px;
  left: 30%;
  top: 25%;
  z-index: 1;
  background-color: white;
  border-radius: 10px;

}

#login-register h1 {
  text-align: center;
}
#login-register form {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.error-bucket  {
  text-align: center;
}
