<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>" >
  <label for="content">Answer:</label><br>
  <textarea name="content" rows="5" cols="50" placeholder="Answer"><%= answer.content %></textarea><br>
  <input class="button" type="submit" value="<%= event %>">
</form>
