
<h1> <%= @question.title %> </h1>

<h3> <%= @question.content %> </h3>


<form action="/questions/<%= @question.id %>/answers" method="POST">
  <label for="content">Answer:</label><br>
  <textarea name="content" rows="5" cols="50"></textarea><br>
  <input class="button" type="submit" value="Submit Answer">
</form>

